body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.section-header {
	margin-bottom: 25px;
}

.item-header {
	margin-bottom: 15px;
	margin-top: 0px;
}

.footer {
  margin-top:15px;
  font-weight: bold;
}

span.disabled{
	color: #C0C0C0;
}
 	
.list-group-item.active a {
	color: #FFFFFF;
}

.form-validation-msg {
	font-weight: bold;
	color: red;
	float: right;
	font-size: 9pt;
}

.geolocate-error {
	font-weight: bold;
	color: red;
	font-size: 9pt;
}

.data-heading {
	font-weight: bold;
	padding-bottom: 10px;
}

.data-expand-link {
	font-weight: bold;
	font-size: 9px;
	float: right;
}

.overlayContainer { 
	display: none;
}

.overlayBackground { 
	top:0px; left:0px; 
	padding-left:100px;
	position:absolute;
	z-index:1000;
	height:100%;
	width:100%;
	background-color:#808080;
	opacity:0.3;
}
.overlayContent {
	position:absolute; 
	border: 1px solid #000; 
	background-color:#fff;
	font-weight: bold;
	height: 100px;
	width: 300px;
	z-index:1000;
	text-align:center;
}


/** SVG Styling **/
.barChart rect {
  fill: steelblue;
}

.barChart text {
  text-anchor: middle;
}

.y-axis path {
	opacity: 0;
}
.y-axis line {
	fill: none;
	stroke: #CCC;
}
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

.arc path {
  stroke: #fff;
}

/** Line chart tooltip **/
.chart-tip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

.chart-tip.hidden {
        display: none;
}

.chart-tip p {
        margin: 0;
        font-size: 12px;
        font-weight: bold;        
        line-height: 16px;
}