<div class="modal-header">
	<button type="button" class="close" data-ng-click="ok()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Weather Data Retrieval Instructions</h4>
</div>
<div class="modal-body">
	<h4>Instructions:</h4>
		<ul>
			<li>Enter a location or click 'Retrieve Location Automatically'</li>
			<li>Enter two dates up to 9 days apart for time series data</li>
			<li>Enter just the start date to view data only for one day</li>
			<li>Leave both date fields blank to view the current conditions.</li>
		</ul>	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="ok()">Close</button>
</div>