<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="section-header">Retrieve Weather Data</h2>			
		</div>
	</div>	
	<div class="row">	
		<div class="content col-lg-4">

			<div class="well well-sm">
			<form class="form-horizontal" role="form">
	            <div class="form-group">
	                <label for="location" class="col-lg-4 control-label">Location:</label>
	                <div class="col-lg-8">
	                <input class="form-control input-sm" data-ng-model="formData.location" type="text" data-ng-change="onLocationChange()" data-ng-blur="parseUserLocation()">
	                
	                <span class="form-validation-msg" >{{formData.locationValidationMessage}}</span>

	                </div>
	            </div>

	            <div class="form-group">
	                <label for="start" class="col-lg-4 control-label">Start Date:</label>
	                <div class="col-lg-8">                
	                <input class="form-control input-sm" datepicker-popup="{{format}}" ng-model="formData.historyStart"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" type="text" data-ng-change="validateDateRange()">
	                </div>
	            </div>	

	            <div class="form-group">
	                <label for="end" class="col-lg-4 control-label">End Date:</label>
	                <div class="col-lg-8">       
	                <input class="form-control input-sm" datepicker-popup="{{format}}" ng-model="formData.historyEnd" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" type="text" data-ng-change="validateDateRange()">
	                <span class="form-validation-msg" >{{formData.dateValidationMessage}}</span>
	                </div>
	            </div>	

                <div class="form-group">
                	<label for="name" class="col-lg-4 control-label">Data:</label>
                    <div class="col-lg-8">
                      <div class="checkbox" data-ng-repeat="(key, keyConfig) in dataFields.observation | object2Array |orderBy:'order'">
                        <label>                  
                          <input type="checkbox" data-ng-disabled="keyConfig.name==='conds'||keyConfig.name==='tempi'" data-ng-model="keyConfig.active" data-ng-checked="keyConfig.active">{{keyConfig.displayName}} 
                        </label>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                	<label for="name" class="col-lg-4 control-label">Daily Averages:</label>
                    <div class="col-lg-8">
                      <div class="checkbox" data-ng-repeat="(key, keyConfig) in dataFields.summary | object2Array |orderBy:'order'">
                        <label>                  
                          <input type="checkbox" data-ng-disabled="keyConfig.name==='day_conds'" data-ng-model="keyConfig.active" data-ng-checked="keyConfig.active">{{keyConfig.displayName}} 
                        </label>
                      </div>
                    </div>
                </div>                

        	</form>
        	<a class="btn btn-sm btn-primary" data-ng-click="loadWeather()" data-ng-disabled="!formData.location||formData.locationValidationMessage||formData.dateValidationMessage">Load Data</a>
        	</div>
            
	        <a class="btn btn-sm btn-default" data-ng-click="instructions()">Instructions</a>		
	        <a class="btn btn-sm btn-default" data-ng-click="getLocation()">Retrieve Location Automatically</a>
	        <p><span class="geolocate-error" >{{formData.geolocationErrorMessage}}</span></p>				

		</div>
		<div class="col-lg-8">
			<div data-ng-switch on="weatherMode">
				<div data-ng-switch-when="historical">
					<h3>Historical Weather Data for {{formData.location}}</h3>
					<p><b>Date Range:</b> {{formData.historyStart.toDateString()}} <span data-ng-show="formData.historyEnd"> to {{formData.historyEnd.toDateString()}}</span></p>
					<div class="list-group">
						<!-- repeat a list group item for regular graph metrics -->
						<h4>Observations:</h4>
						<div class="list-group-item" data-ng-repeat="name in weatherData.fields">
							<div class="list-group-item-heading">
								<span class="data-heading">{{getName(name)}}</span>
								<span class="data-expand-link" style="float: right">
									<a data-ng-click="rawStates[name] = !rawStates[name]">{{(!rawStates[name] ? 'Show' : 'Hide')}} Data</a>
									<a data-ng-click="graphStates[name] = !graphStates[name]">{{(graphStates[name] ? 'Show' : 'Hide')}} Graph</a>
								</span>
							</div>
							<div data-ng-show="!graphStates[name]">
								<weather-line-chart data="weatherData.observations" label="getName(name)" key="name"></weather-line-chart>
							</div>
							<div data-ng-show="rawStates[name]">
								<table class="table table-striped">
									<tbody class="rawdata-table"> 	
										<tr>
											<th>Timestamp</th>
											<th>Value</th>							
										</tr>	
										<tr data-ng-repeat="row in weatherData.observations">
											<td>{{date(row.time).toString()}}</td>
											<td>{{row[name]}}</td>
										</tr>									
									</tbody>
								</table>						
							</div>							
						</div>
						<!-- repeat another list group item for summary data graphs -->
						<h4>Daily Averages:</h4>
						<div class="list-group-item" data-ng-repeat="name in weatherData.summaryFields">  
							<div class="list-group-item-heading">
								<span class="data-heading">{{getName(name)}}</span>
								<span class="data-expand-link" style="float: right">
									<a data-ng-click="rawStates[name] = !rawStates[name]">{{(!rawStates[name] ? 'Show' : 'Hide')}} Data</a>
									<a data-ng-click="graphStates[name] = !graphStates[name]">{{(graphStates[name] ? 'Show' : 'Hide')}} Graph</a>
								</span>
							</div>
							<div data-ng-show="!graphStates[name]">
								<weather-bar-chart data="weatherData.summary" label="getName(name)" key="name"></weather-bar-chart>
							</div>
							<div data-ng-show="rawStates[name]">
								<table class="table table-striped">
									<tbody class="rawdata-table"> 	
										<tr>
											<th>Timestamp</th>
											<th>Value</th>							
										</tr>	
										<tr data-ng-repeat="row in weatherData.summary">
											<td>{{date(row.time).toString()}}</td>
											<td>{{row[name]}}</td>
										</tr>									
									</tbody>
								</table>						
							</div>							
						</div>			
						<!-- one off for pie chart cloudiness -->
						<h4>Totals:</h4>			
						<div class="list-group-item">
							<div class="list-group-item-heading">
								<span class="data-heading">Total Average Daytime Cloud Cover</span>
								<span class="data-expand-link" style="float: right">
									<a data-ng-click="graphStates['avgcloud'] = !graphStates['avgcloud']">{{(graphStates['avgcloud'] ? 'Show' : 'Hide')}} Graph</a>
								</span>
							</div>
							<div data-ng-show="!graphStates['avgcloud']">
								<weather-pie-chart data="weatherData.totals.clouds"></weather-pie-chart>
							</div>						
						</div>

					</div>
				</div>

				<div data-ng-switch-when="current">
					<table class="table table-striped">
						<tbody class="currentweather-table">  
							<h4>Current Weather Conditions for {{formData.location}}</h4>
							<tr>
								<td>Description: </td>
								<td>{{weatherData.current.weather}}</td>							
							</tr>
							<tr>
								<td>Temperature: </td>
								<td>{{weatherData.current.temp_f}} F ({{weatherData.current.temp_c}} C)</td>							
							</tr>
							<tr>
								<td>Humidity: </td>
								<td>{{weatherData.current.relative_humidity}}</td>							
							</tr>
							<tr>
								<td>Wind: </td>
								<td>{{weatherData.current.wind_string}}</td>							
							</tr>
							<tr>
								<td>Dewpoint: </td>
								<td>{{weatherData.current.dewpoint_string}}</td>							
							</tr>

						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</div>
</div>